@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Frijole&family=Rubik+Wet+Paint&family=Yusei+Magic&family=Macondo+Swash+Caps&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 750px) {
  .bccQAM .bccQAM_sidebar>input {
    display: none;
  }

  .bccQAM .bccQAM_sidebar {
    width: auto !important;
  }

  .bccQAM>div:first-of-type>div:first-of-type>svg:first-of-type {
    display: none;
  }

  .bccQAM .bccQAM_sidebar>div>button>div {
    display: none !important;
  }
}

.bccQAM .bccQAM_sidebar[data-minimized]>input {
  display: none;
}

.bccQAM .bccQAM_sidebar[data-minimized] {
  width: auto !important;
}

.bccQAM .bccQAM_sidebar[data-minimized]>div>button>div {
  display: none !important;
}

.bccQAM {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  resize: both;
  width: 95%;
  max-width: 1250px;
  min-width: 605px;
  height: 80%;
  max-height: 600px;
  min-height: 350px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(182 182 182 / 11%);
  box-shadow: 0 0px 6px 0 rgb(168 168 168);
  font-family: "Yusei Magic";
  z-index: 25;
}

.bccQAMButton {
  display: grid;
  place-items: center;
  width: 2.5em;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid var(--tmd-element, rgba(182 182 182 / 11%));
  box-shadow: 0 0px 4px 0 rgb(139 139 139 / 37%);
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 25;
}

.bccQAMButton img {
  pointer-events: none;
  width: 80%;
  aspect-ratio: 1/1;
}

.bccQAMSelect {
  cursor: pointer;
  background: white;
  border: 2px solid rgb(195, 195, 195);
  border-radius: 0.4em;
  padding: 0.45em;
  z-index: 10;
}

.bccQAMSelect[opened="true"] {
  border-color: rgb(0, 96, 223);
}

.bccQAMSelect[opened="false"]:hover {
  border-color: rgb(170, 170, 170);
}

.bccQAMSelect>svg {
  position: absolute;
  right: 0.45em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
  color: rgb(0, 96, 223);
}

.bccQAMSelect>div {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 #e7e7e7;
  background: #f6f6f6;
  border: 2px solid rgb(235 235 235);
  border-radius: 0.4em;
}

.bccQAMSelect>div[data-position="top"] {
  bottom: calc(100% + 0.45em);
}

.bccQAMSelect>div[data-position="bottom"] {
  top: calc(100% + 0.45em);
}

.bccQAMSelect>div>div {
  width: 100%;
  padding: 0.45em;
  border-radius: 0.25em;
}

.bccQAMSelect>div>div>svg {
  width: 1.25em;
  height: 1.25em;
  color: rgb(0, 96, 223);
}

.bccQAMSelect>div>div:hover {
  background: #ededed;
}

.bccChangelog {
  font-family: "Yusei Magic";
  padding: 0.5em;
  font-size: 1.25em;
}

.bccChangelog ul {
  padding-left: 1em;
}

.bccChangelog ul li {
  padding: 0.5em 0;
}

/* .horror-tentacle-button {
  position: relative;
  padding: 1.25em 2.5em;
  background: linear-gradient(145deg, #0c0c0c, #1a1a1a);
  color: #8ef6e4;
  border: 0.125em solid #00adb5;
  border-radius: 0.5em;
  font-family: 'Cormorant SC', serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-shadow: 0 0 0.3125em rgba(142, 246, 228, 0.3);
  margin: 1em;
}

.horror-tentacle-button:hover {
  background: linear-gradient(145deg, #1a1a1a, #0c0c0c);
  box-shadow: 0 0 1.875em rgba(0, 173, 181, 0.5);
} */

.tentacle-horror {
  position: absolute;
  right: -0.3125em;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 1.5625em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.tentacle {
  position: relative;
  width: 0.75em;
  height: 0.1875em;
  background: linear-gradient(to left, var(--tmd-text, #00adb5), var(--tmd-text, #007780));
  border-radius: 0.125em;
  opacity: 0.9;
  animation: tentacleWriggle 4s ease-in-out infinite;
  transform-origin: right center;
}

.tentacle::before {
  content: '';
  position: absolute;
  left: -0.0625em;
  top: 50%;
  transform: translateY(-50%);
  width: 0.25em;
  height: 0.25em;
  background: linear-gradient(45deg, var(--tmd-text, #007780), var(--tmd-text, #00565c));
  border-radius: 50%;
  border: 0.0625em solid var(--tmd-accent, #00adb5);
  box-shadow: 0 0 0.1875em var(--tmd-text, rgba(0, 173, 181, 0.8));
}

.tentacle::after {
  content: '';
  position: absolute;
  left: -0.375em;
  top: 50%;
  transform: translateY(-50%);
  width: 0.375em;
  height: 0.375em;
  background: var(--tmd-text, #00565c);
  border-radius: 50% 50% 0 50%;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  opacity: 0.8;
}

.tentacle:nth-child(1) {
  height: 0.25em;
  animation-delay: 0s;
  transform: rotate(-5deg);
}

.tentacle:nth-child(2) {
  animation-delay: 1s;
  transform: rotate(2deg);
}

.tentacle:nth-child(3) {
  height: 0.125em;
  animation-delay: 2s;
  transform: rotate(5deg);
}

.tentacle:nth-child(4) {
  height: 0.1875em;
  animation-delay: 3s;
  transform: rotate(-3deg);
}

.tentacle-detail {
  position: absolute;
  background: var(--tmd-text, rgba(0, 173, 181, 0.3));
  border-radius: 0.0625em;
  animation: detailPulse 3s ease-in-out infinite;
}

.detail-1 {
  width: 0.1875em;
  height: 0.0625em;
  left: -0.5em;
  top: 30%;
  animation-delay: 0s;
}

.detail-2 {
  width: 0.125em;
  height: 0.0625em;
  left: -0.75em;
  top: 60%;
  animation-delay: 1s;
}

.tentacle-particle {
  position: absolute;
  width: 0.0825em;
  height: 0.0825em;
  background: var(--tmd-text, #00adb5);
  border-radius: 50%;
  animation: particleFloat 5s ease-in-out infinite;
  opacity: 0;
}

.particle-1 {
  right: 0.1875em;
  top: 20%;
  animation-delay: 0s;
}

.particle-2 {
  right: 0.5em;
  top: 50%;
  animation-delay: 2s;
}

.particle-3 {
  right: 0.3125em;
  top: 80%;
  animation-delay: 4s;
}

@keyframes tentacleWriggle {

  0%,
  100% {
    transform: rotate(0deg) scaleX(1);
    opacity: 0.9;
  }

  25% {
    transform: rotate(-8deg) scaleX(1.1);
    opacity: 1;
  }

  50% {
    transform: rotate(5deg) scaleX(0.9);
    opacity: 0.8;
  }

  75% {
    transform: rotate(3deg) scaleX(1.05);
    opacity: 0.95;
  }
}

@keyframes detailPulse {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes particleFloat {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }

  20% {
    transform: translate(-0.3125em, -0.1875em) scale(1);
    opacity: 0.7;
  }

  40% {
    transform: translate(-0.625em, 0.125em) scale(1.2);
    opacity: 0.4;
  }

  60% {
    transform: translate(-0.9375em, -0.0625em) scale(0.8);
    opacity: 0.2;
  }

  80% {
    transform: translate(-1.25em, 0.25em) scale(0.5);
    opacity: 0.1;
  }

  100% {
    transform: translate(-1.5625em, 0) scale(0);
    opacity: 0;
  }
}

.tentacle-slime {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 0.1875em;
  height: 0.125em;
  background: linear-gradient(to bottom, #00adb5, transparent);
  border-radius: 50%;
  animation: slimeDrip 6s ease-in-out infinite;
  opacity: 0.7;
}

@keyframes slimeDrip {

  0%,
  100% {
    height: 0.125em;
    opacity: 0.5;
  }

  50% {
    height: 0.5em;
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .horror-tentacle-button {
    font-size: 0.9rem;
    padding: 1em 2em;
  }
}

@media (max-width: 480px) {
  .horror-tentacle-button {
    font-size: 0.8rem;
    padding: 0.8em 1.6em;
  }

  .tentacle-horror {
    width: 1.2em;
    right: -0.2em;
  }

  .tentacle {
    width: 0.6em;
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  color: var(--tmd-text, black);
  transform: translateY(30px) rotateX(90deg);
  animation: letterReveal 0.45s ease-out forwards;
  font-family: 'Finger Paint';
}

@keyframes letterReveal {
  0% {
    opacity: 0;
    transform: translateY(0.75em) rotateX(90deg);
    text-shadow: 0 0 5px var(--tmd-text, #161616);
  }

  50% {
    opacity: 1;
    transform: translateY(-0.25em) rotateX(0deg);
    text-shadow: 0 0 10px var(--tmd-text, #161616);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
    text-shadow: 0.045em 0.045em 0 var(--tmd-text, black), -0.045em -0.045em 0 var(--tmd-accent, #6600da), 0.045em -0.045em 0 var(--tmd-text, black), -0.045em 0.045em 0 var(--tmd-accent, #6600da);
  }
}